@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0; 
    padding: 0;
}

:root {
    --amarelo-claro: #F2EDE0;
    --amarelo-escuro: #F9CD6B;
    --branco: #F5F5F5;
    --laranja: #E35A38;
    --azul-claro: #83C7C9;
    --verde-medio: #509FA6;
    --verde-escuro: #00474A;
    --fonte: "Quicksand", "Sans serif";
}

body {
    background-color: var(--branco);
}

nav {
    position: -webkit-sticky;
    position: sticky;
	top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--branco);
}


#menu a:link, a:visited {
    color: var(--laranja);
    text-decoration: none;
    font-family: var(--fonte);
    font-weight: 500;
    
}

#menu a:hover {
    color: var(--amarelo-escuro);
}

#menu ul {
    list-style-type: none;
    padding: 16px;
    float: right;
}

#menu li {
    float: left;
    padding-right: 44px;
}

#cabecalho {
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(var(--branco),var(--branco),var(--amarelo-claro));
}

#titulo-cabecalho {
    padding-right: 60px;
}

#titulo-cabecalho p {
    font: 300 1rem var(--fonte);
    color: var(--verde-medio);
    width: 400px;
    
}

h1 {
    font: 600 3.5rem var(--fonte);
    color: var(--verde-medio);
}

#sobre-nos {
    background-color: var(--amarelo-claro);
    padding: 0px 60px 60px;
}

#sobre-nos p,  #lojinha p {
    font: 400 1rem var(--fonte);
    color: var(--verde-medio);
    padding-bottom: 8px;
}

h2 {
    font: 600 2rem var(--fonte);
    color: var(--verde-medio);
    padding-bottom: 16px;
}

#lojinha {
    background-color: var(--branco);
    padding: 60px;
}

.container-lojinha {
    display: flex;
    justify-content: space-between;
}

.card-lojinha {
    background: var(--amarelo-claro);
    height: 320px;
    width: 340px;
    border-radius: 20px 20px 20px 20px;
    display: block;
    margin: 40px 80px 0px 80px;
}

.card-lojinha_imagem {
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0px 0px;
}

.card-lojinha_descricao {
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    height: 15%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    color: var(--verde-escuro);
}

.citacao {
    background: var(--amarelo-escuro);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.citacao blockquote * {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.citacao p {
    width: 1063px;
    height: 150px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #E35A38;
}

.citacao cite {
    width: 1193px;
    height: 30px;
    left: 123px;
    top: 2413px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #E35A38;
}

#vestir {
    background-color: var(--azul-claro);
    padding: 60px;
}

#vestir p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    font: 400 1rem var(--fonte);
    color: var(--branco);
    padding-bottom: 8px;
}

.container-vestir {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-vestir {
    background: var(--amarelo-claro);
    height: 450px;
    width: 340px;
    border-radius: 20px 20px 20px 20px;
    margin: 40px 80px 0px 80px;
    flex-basis: 20%;
    display: block;
}

.card-vestir_imagem {
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
}

.card-vestir_detalhes {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    height: 20%;
    color: var(--verde-escuro);
}

.card-vestir_detalhes {
    align-items: center;
}

.card-vestir_descricao span {
    display: block;
}

.card-vestir_descricao span:nth-of-type(1) {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.card-vestir_descricao span:nth-of-type(2) {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.card-vestir_valor {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.card-vestir_valor::before {
    content: 'R$';
}

#decorar p, #criar p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    font: 400 1rem var(--fonte);
    color: var(--verde-escuro);
    padding-bottom: 8px;
}

#decorar, #criar{
    background-color: var(--branco);
    padding: 60px;
}

.container-decorar, .container-criar{
    display: flex;
    justify-content: space-between;
}

.card-decorar {
    box-sizing: border-box;
    background: var(--amarelo-claro);
    height: 500px;
    border-radius: 20px 20px 20px 20px;
    margin: 40px 40px 0px 40px;
    display: block;
    flex-basis: 40%;
}

.card-criar {
    box-sizing: border-box;
    background: var(--amarelo-claro);
    border-radius: 20px 20px 20px 20px;
    margin: 40px 40px 0px 40px;
    display: block;
    flex-basis: 20%;
}
.card-decorar_imagem, .card-criar_imagem {
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.card-decorar_detalhes, .card-criar_detalhes {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    height: 20%;
    color: var(--verde-escuro);
}

.card-decorar_detalhes, .card-criar_detalhes {
    align-items: center;

}

.card-decorar_descricao span, .card-criar_descricao span  {
    display: block;
}

.card-decorar_descricao span:nth-of-type(1), .card-criar_descricao span:nth-of-type(1) {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.card-decorar_descricao span:nth-of-type(2), .card-criar_descricao span:nth-of-type(2) {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.card-decorar_valor, .card-criar_valor {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.card-decorar_valor::before, .card-criar_valor::before {
    content: 'R$';
}

.container-segunda-citacao {
    display: flex;
    background: var(--amarelo-claro);
    padding: 60px;
    align-items: center;
}


.segunda-citacao * {
    display: block;
    text-align: center;
}

.segunda-citacao p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #E35A38;
}

.segunda-citacao cite {
    height: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #E35A38;
    margin-top: 10px;
}

.segunda-citacao_imagem {
    position: relative;
    top: -75px;
}

#contato {
    width: 100%;
}

#container-contato {
    display: flex;    
    justify-content:space-evenly;
    align-items: center;
    padding: 100px;
}

#contato h2 {
    color: var(--laranja);
}

#contato p {
    font: 400 1rem var(--fonte);
    color: var(--laranja);
    margin-bottom: 24px;
}

#formulario-contato {
    width: 500px;
    background-color: var(--amarelo-escuro);
    border-radius: 20px 20px 20px 20px;
    padding: 40px;
}

form {
	width: 100%;
}

label {
    color: var(--laranja);
    font: 400 1rem var(--fonte);
}

input, select, fieldset, textarea {
	width: 100%;
	color:var(--verde-escuro);
    border: 0;
	border-radius: 4px;
	margin: 0 0 16px 0;
	padding: 8px;
	box-sizing: border-box;
	font: 400 1rem var(--fonte);
	background-color: var(--amarelo-claro);
}

input[type="submit"], input[type="reset"] {
    margin: 10px 8px;
}

input[type="reset"] {
    color: var(--laranja);
}


#botoes-contato {
    display: flex;
    justify-content: space-between;
}

#imagem-contato {
    width: 500px;
}

#imagem-contato img {
    width: 100%;
}

#receita-drink {
    background-image: linear-gradient(var(--laranja),var(--laranja),var(--laranja),var(--verde-escuro));
    padding: 60px;
}

#receita-drink h3 {
    text-align: center;
    font: 500 1.8rem var(--fonte);
    color: var(--amarelo-escuro);
}

#receita-drink h4 {
    text-align: center;
    font: 500 1.4rem var(--fonte);
    color: var(--amarelo-claro);
    padding-bottom: 24px;
}

#receita-drink p {
    font: 400 1rem var(--fonte);
    color: var(--amarelo-claro);
    padding-bottom: 16px;
}

#receita-drink ul {
    list-style-type: none;
    font: 400 1rem var(--fonte);
    color: var(--amarelo-claro);
    padding-bottom: 24px;
}

#container-receita-drink {
    display: flex;
    justify-content: center;
}

#imagem-drinks {
    margin-right: 0;
    padding-right: 0;
    z-index: 1;
}

footer {
    background-color: var(--verde-escuro);
    padding: 60px;
}

footer ul {
    list-style-type: none;
    font: 400 1rem var(--fonte);
    color: var(--amarelo-claro);
    padding-bottom: 24px;
}

footer a:link, a:visited {
    color: var(--laranja);
    text-decoration: none;
    font-family: var(--fonte);
    font-weight: 500;
}

footer p {
    font: 400 1rem var(--fonte);
    color: var(--amarelo-claro);
}

footer h6 {
    padding-top: 24px;
    font: 600 1rem var(--fonte);
    color: var(--amarelo-claro);
}