@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0; 
    padding: 0;
}

:root {
    --amarelo-claro: #F2EDE0;
    --amarelo-escuro: #F9CD6B;
    --branco: #F5F5F5;
    --laranja: #E35A38;
    --azul-claro: #83C7C9;
    --verde-medio: #509FA6;
    --azul-escuro: #00474A;
    --fonte: "Quicksand", "Sans serif";
}

body {
    background-color: var(--branco) ;
}

#menu {
    width: 100%;
    height: 150px;
}

#menu a:link {
    color: var(--laranja);
    text-decoration: none;
    font-family: var(--fonte);
    font-weight: 500;
    
}

#menu a:hover {
    color: var(--amarelo-escuro);
}

ul {
    list-style-type: none;
    padding: 16px;
    float: right;
}

li {
    float: left;
    padding-right: 44px;
}

#cabecalho {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#imagem-cabecalho {
    
}

#titulo-cabecalho p {
    font: 300 1rem var(--fonte);
    color: var(--verde-medio);
    width: 500px;
}

h1 {
    font: 600 3rem var(--fonte);
    color: var(--verde-medio);
}

#sobre-nos {
    background-color: var(--amarelo-claro);
    padding: 60px;
}

#sobre-nos p {
    font: 400 1rem var(--fonte);
    color: var(--verde-medio);
    padding-bottom: 8px;
}

h2 {
    font: 600 2rem var(--fonte);
    color: var(--verde-medio);
    padding-bottom: 16px;
}

footer {
    background-color: var(--azul-escuro);
    padding: 40px;
}

footer p {
    font: 400 1rem var(--fonte);
    color: var(--amarelo-claro);
}